﻿.navbar {
    background-color: #1C1B1B;
    height: 50px;
    /* padding: 10px; */
}

.brand-logo {
    fill: white;
    height: 20px;
    margin: 6px;
}

#top-nav {
    height: 32px;
    padding-left: 2px;
}
