﻿.reportPlaceholder {
    /*    min-width: 800px;*/
    height: calc(100vh - 52px) !important; /* 16:9 aspect ratio */
    width: 100%;
}

    .reportPlaceholder > iframe {
        border: none;
    }


.loader {
    border: 5px solid #d7d7d7;
    border-radius: 50%;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    position: relative;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    width: 50px;
    height: 50px;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
    opacity: 0.6;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.disabled {
    pointer-events: none;
    opacity: 0.4;
}

.loadingPointer {
    cursor: progress !important;
}
